/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap"); */

:root {
  --iris-color: #4d5ae5;
  --navy-blue-color: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
  --gray: #2e2f42;
  --light-slate: #8e8f99;
  --green: #31d0aa;
  --dairy-color: #fcfcfc;
}

/* --------css margin reset--- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* ---common properties for tags and class--- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slate);
  background-color: var(--white);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.logo-link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.menu,
.navigation,
.nav-menu,
.contacts-menu {
  display: flex;
  align-items: center;
}

/* ---this is the header----- */

.page-header {
  border-bottom: 1px solid var(--cornflower);
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--iris-color);
}

.logo {
  color: var(--iris-color);
}

.nav-menu .page,
.contacts-menu .contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu .page {
  color: var(--navy-blue-color);
}

.contacts-menu .contact {
  color: var(--slate);
  font-weight: 400;
}

.nav-menu {
  margin-left: 93px;
}

.nav-menu .item:not(:last-child),
.contacts-menu .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-menu.list {
  margin-left: auto;
}

.logo-link > span {
  font-size: 18px;
  line-height: 1.2;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 0;
}

.studio {
  color: var(--navy-blue-color);
}

/* nav menu animation */
.page:hover,
.page:focus {
  color: var(--iris-color);
}

.page.current::after {
  content: "";
  border: 2px solid var(--ocean);
  border-radius: 2px;
  background-color: var(--ocean);
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.page::after {
  content: "";
  border-radius: 2px;
  border: 2px solid transparent;
  height: 4px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page:hover::after,
.page:focus::after {
  border: 2px solid var(--ocean);
  background-color: var(--ocean);
  width: 100%;
}

/* ---this is for the hero section--- */

.hero {
  text-align: center;
  padding: 200px 0;
  background: var(--navy-blue-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--gray);
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.04em;
  color: var(--white);
  margin-bottom: 30px;
}

.button {
  border-color: transparent;
  font-family: inherit;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button.primary {
  color: white;
  background-color: var(--iris-color);
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px, 1px, 2px rgba(0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* modal section */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 408px;
  min-height: 584px;
  background-color: var(--dairy-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background-color: var(--cornflower);
  color: var(--navy-blue-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid var(--ocean);
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}
/* ---this is for the section 1 --- */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.no-top-padding {
  padding-top: 0;
}

.benefits.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.benefits .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.benefits .title {
  color: var(--navy-blue-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.14;
  margin-bottom: 10px;
}

.benefits .description {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
}

.section .container .icon {
  border-radius: 4px;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  background-color: var(--cloud);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* this is the icon for section 1 */

.title-icon {
  margin: 24px 100px;
}
/* ---this is for sectioon 2 --- */

.what-we-do.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.what-we-do .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.section-title {
  margin-bottom: 50px;
  color: var(--navy-blue-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}

/* ---this is for section 3 --- */

.team {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team .item {
  background-color: var(--white);
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px, 1px, 2px rgba(0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section.bg-team {
  background-color: var(--cloud);
}

.team .name,
.team .position {
  line-height: 1.19;
  text-align: center;
}

.team .name {
  color: var(--navy-blue-color);
  font-size: 20px;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team .position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
}

/* this is  for the icons */
.social-team {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.social-team .link {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris-color);
  color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team .link:hover,
.social-team .link:focus {
  background-color: var(--ocean);
}

.section-social-icon {
  fill: currentColor;
}

/* "our team" shadow effect */
.team .item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* this is for our customer */
.partners {
  gap: 24px;
  display: flex;
}

.partners .item {
  width: 168px;
  height: 88px;
}

.partners .link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-slate);
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 5px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: currentColor;
  width: 104px;
  height: 56px;
}

.partners .link:hover,
.partners .link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}
/* ---this is for footer--- */

.page-footer {
  padding: 60px 0;
  background-color: var(--navy-blue-color);
}

.footer-description {
  margin-top: 16px;
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.studio-footer {
  color: var(--cloud);
}

/* footer social icon */

.social-footer {
  flex-wrap: wrap;
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.social-footer .icon {
  fill: currentColor;
}

.social-footer .link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--iris-color);
  color: var(--white);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .container {
  display: flex;
  align-items: flex-start;
  gap: 120px;
}

.footer-heading {
  color: var(--white);
  display: flex;
}

.social-footer .link:hover,
.social-footer .link:focus {
  background-color: var(--green);
}
.footer {
  display: flex;
  gap: 120px;
}

/* ---this is for portfolio--- */

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.button.filter {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background: var(--cloud);
  color: var(--iris-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filters .space + .space {
  margin-left: 8px;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--ocean);
  color: var(--cloud);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px, 1px, 2px rgba(0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project .name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--navy-blue-color);
  margin-bottom: 4px;
  line-height: 2;
}

.project .type {
  color: var(--slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.project-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.substrate {
  border: 1px solid var(--cornflower);
  background: var(--white);
  border-top: 0;
  padding: 20px 24px;
}

.project-cover-wrap {
  position: relative;
  overflow: hidden;
}

.project-cover-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  font-size: 16px;
  color: var(--cloud);
  background-color: var(--iris-color);
  transform: translateY(101%);
  transition: transform 250ms ease-in-out;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover .project-cover-text {
  transform: translateY(0);
}

.page {
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
